

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>to do list</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
<div class="box" id="heading">
  <h1 style="color: blue"; >yay its <%= listtitle %> !</h1>
</div>
<div class="box">

     <%for(var i=0;i<ls.length; i++){ %>
       <form  action="/delete" method="post">
      <div class="item">
         <input type="checkbox" name="checkbox" value="<%= ls[i]._id %>" onChange="this.form.submit()">
          <p> <%= ls[i].itemvalue %> </p>
          <input type="hidden" name="listname" value="<%=listtitle%>"></input>
      </div>
    </form>
    <%}%>
    <form class="item" action="/" method="post">
      <input type="text" name="nm" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%=listtitle%>>+</button>
    </form>

</div>


  </body>
</html>
